body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #c8cdfa;
}

#resume-container {
  width: 60vw;
  background-color: #f0f0fe;
  justify-content: center;
  position: relative;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  font-size: 1.2vw;
  margin-top: 60px;
  padding: 0;
}

header {
  background-color: #4c58afda;
  display: grid;
  grid-template-columns: 1.5fr 2fr; 
  width: 100%;
  justify-content: start;
  padding: 0px;
  margin: auto;
}

#profile-picture {
  width: 18vw;
  border-radius: 50%;
  position: absolute;
  margin-left: 12vw;
  top: 8.9vw;
  transform: translate(-50%, -50%);
}

#name-section {
  color: #eae9e9eb;
  text-align: left;
  padding-top: 5vw;
  font-size: 1.5vw;
  line-height: 15px;
}

#name h1 {
  color: #020412;
  text-align: left;
}

#resume-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#left_column,
#right_column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#left_column {
  grid-column: 1;
}

#right_column {
  grid-column: 2;
}
div {
  position: relative;
  margin: 20px 0;
  padding: 20px;
}

#experience-section h2{
  margin-top: 20%;
  padding-bottom: 0;
}

h1,
h2 {
  color: #020412;
}

ul {
  list-style-type: square;
  padding: 0;
}

#user-skills ul li {
  width: 80%;
  background: #ffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

div {
  position: relative;
  margin: 20px 0;
  padding: 20px;
}

#resume-builder{
  width: 65%;
  height: 100%;
  position: relative;
  padding-top: 5%;
  margin: auto;
}

#resume-form {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all ease 2s;
  z-index: 999;
  padding: 20px;
  display: none;
  flex-direction: column;
}

#resume-form h2 {
  text-align: center;
  color: #4c58af;
}

#resume-form input,
#resume-form textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
}
.education-entry,
.work-entry {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.remove {
  padding: 10px 40px;
  background-color: #e35252;
  display: flex;
  justify-content: start;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove:hover {
  background-color: #a92b2b;
}

#addWork,
#addEducation {
  background-color: #3aaa4b;
  padding: 15px;
  margin: auto;
  display: flex;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

#addWork:hover,
#addEducation:hover {
  background-color: #21802f;
}

#profilePic{
  border: none;
  margin: 10px;
}

#submit-resume-btn {
  padding: 2vh 6vw;
  background-color: #4c58af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  display: flex;
}

#submit-resume-btn:hover {
  background-color: #3b4691;
}

#toggle-form-btn {
  position: absolute;
  left: 50%;
  margin-top: 80%;
  transform: translateX(-50%);
  padding: 2vh 5vw;
  background-color: #4c58af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#toggle-form-btn:hover {
  background-color: #3b4691;
}

@media (max-width: 800px) {
  #resume-container {
    width: 90vw;
    font-size: 2vw;
    padding: 10px;
  }

  #profile-picture {
    width: 20vw;
    top: 15vw;
    left: 10vw;
  }

  #name-section {
    padding-top: 5vw;
    font-size: 1.5vw;
  }
  div {
    margin: 1 5px 0;
    padding: 5px;
  }
  #resume-builder{
    width: 80%;
  }
  
  #toggle-form-btn {
    padding: 8px 20px;
    margin-top: 125%;
  }
}

@media (max-width: 600px) {
  #resume-container {
    width: 95vw;
    font-size: 2vw;
    padding: 10px 5px;
  }

  header {
    width: 100%;
  }

  #profile-picture {
    width: 31vw;
    top: 14vw;
    left: 10vw;
  }

  #name-section {
    padding-top: 2vw;
    font-size: 3vw;
  }

  #resume-builder{
    width: 95%;
    margin-top: 20px;
  }
  
  #resume-form {
    margin: 5px;
    margin-top: 15px;
    padding: 5px 10px;
  }

  #resume-form input,
  #resume-form textarea {
    width: 93%;
    padding: 10px;
  }
  .education-entry,
  .work-entry {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .remove {
    padding: 6px 12px;
  }

  #addWork,
  #addEducation {
    padding: 10px;
  }

  #submit-resume-btn {
    padding: 10px 40px;
  }

  #toggle-form-btn {
    padding: 8px 20px;
    margin-top: 140%;
  }
}
