body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;  
    background-color: #C8CDFA;
}

#resume{
    width: 60vw;
    background-color: #f0f0fe;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2vw;
}


header {
    background-color: #4c58afda;
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

#profile img{
    width: 18vw;
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    left: 5vw;
    transform: translate(-50%, -50%);
}

#name{
    color: #eae9e9eb;
    text-align: left;
    padding-top: 5vw;
    font-size: 1.5vw;
    line-height: 15px;
}

#name h1{
    color: #020412;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#First_column, #Second_column{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
}

#First_column{
    grid-column: 1;
}

#Second_column{
    grid-column: 2;
} 
div {
    position: relative;
    margin: 20px 0;
    padding: 20px;
}

h1, h2 {
    color: #020412;
}

ul {
    list-style-type: square;
    padding: 0;
}

#skills ul li {
    width: 80%;
    background: #ffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #resume{
        width: 90vw;
        font-size: 2vw;
    }
    
    #profile img{
        width: 18vw;
        top: 15vw;
        left: 10vw;
    }
    
    #name{
        padding-top: 5vw;
        font-size: 2vw;
    }
    div {
        margin: 10px 0;
        padding: 5px;
    }
}

@media (max-width: 600px) {
    #resume{
        width: 95vw;
        font-size: 2vw;
    }
    
    header{
        width: 100%;
    }

    #profile img{
        width: 25vw;
        top: 14vw;
        left: 10vw;
    }
    
    #name{
        padding-top: 2vw;
        font-size: 2.5vw;
    }
}